<mat-card>
  <mat-card-title>
    {{ customer?.name || "読み込み中…" }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ customer?.address }}
  </mat-card-subtitle>

  <mat-card-actions>
    <button mat-stroked-button (click)="editCustomer()">
      <mat-icon>edit</mat-icon>
      編集
    </button>
    <button mat-stroked-button color="warn" (click)="deleteCustomer()">
      <mat-icon>delete</mat-icon>
      削除
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of items">
        <p matLine>{{ item.name }} ・ {{ item.notes }}</p>
        <button mat-icon-button color="warn" (click)="deleteItem(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="associateItem()">
      <mat-icon>add</mat-icon>
      品目を追加する
    </button>
  </mat-card-actions>
</mat-card>

<p id="actions">
  <a
    mat-stroked-button
    [disabled]="!customer"
    routerLink="/order/{{ customer?.id }}/new"
  >
    <mat-icon>receipt</mat-icon>
    注文入力
  </a>

  <a mat-stroked-button routerLink="./order-sheet">
    <mat-icon>description</mat-icon>
    注文書を出力
  </a>

  <a mat-raised-button color="primary" routerLink="/customer">
    <mat-icon>arrow_back</mat-icon>
    保存して戻る
  </a>
</p>
