<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ customer()?.name || "読み込み中…" }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ customer()?.address }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <button matButton="tonal" (click)="editCustomer()">
      <mat-icon>edit</mat-icon>
      編集
    </button>
    <button matButton="filled" color="warn" (click)="deleteCustomer()">
      <mat-icon>delete</mat-icon>
      削除
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-content>
    <mat-list>
      @for (item of items(); track item) {
        <mat-list-item>
          <span matListItemTitle>{{ item.name }}</span>
          <span matListItemLine>{{ item.notes }}</span>
          <span matListItemMeta>
            <button mat-icon-button color="warn" (click)="deleteItem(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button matButton="tonal" (click)="associateItem()">
      <mat-icon>add</mat-icon>
      品目を追加する
    </button>
  </mat-card-actions>
</mat-card>

<p id="actions">
  <a
    matButton="outlined"
    [disabled]="!customer()"
    routerLink="/order/{{ customer()?.id }}/new"
  >
    <mat-icon>receipt</mat-icon>
    注文入力
  </a>

  <a matButton="outlined" routerLink="./order-sheet">
    <mat-icon>description</mat-icon>
    注文書を出力
  </a>

  <a matButton="filled" color="primary" routerLink="/customer">
    <mat-icon>arrow_back</mat-icon>
    保存して戻る
  </a>
</p>
