@use "../../styles/media";

mat-card {
  margin: 1em;
}

[matButton] {
  width: 100%;
}

#actions {
  margin: 0 0 0 1rem;
  padding-right: 1rem;

  a[matButton] {
    margin: 0 0 1rem 0;
  }
}

@include media.sp {
  #actions a[mat-stroked-button] {
    display: inline-block;
  }
}
