@use "../../styles/media";

mat-card {
  margin: 1em;
}

[mat-button] {
  width: 100%;
}

#actions {
  margin: 0 0 0 1rem;

  a[mat-raised-button],
  a[mat-stroked-button] {
    margin: 0 1rem 1rem 0;
    display: block;
  }
}

@include media.sp {
  #actions a[mat-stroked-button] {
    display: inline-block;
  }
}
