<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ order()?.customerName }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ order()?.orderedAt?.toDate() | date: "y/M/d　h:mm" }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{ order()?.notes }}
    </p>
    <mat-nav-list>
      @for (item of order()?.items; track item) {
        <a mat-list-item routerLink="/item/{{ item.id }}">
          <span matListItemTitle>
            {{ item.name }} × {{ item.orderedCount }}
          </span>
          @if (item.id) {
            <span matListItemLine>
              {{ itemList()[item.id]?.notes }}
              残り{{ itemList()[item.id]?.total }}
            </span>
          }
          @if (!item.id) {
            <span matListItemLine>品目リストにありません</span>
          }
        </a>
      }
    </mat-nav-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="markAsDone()">
      <mat-icon>done</mat-icon>
      完了
    </button>
  </mat-card-actions>
</mat-card>
