@if ((items | async)?.length) {
  <mat-grid-list [cols]="columns" rowHeight="9em">
    @for (item of items | async; track item) {
      <mat-grid-tile
        [ngClass]="{ low: item.total < item.notifyCount }"
        (click)="selectItem(item)"
        >
        <p>
          <strong class="item-name"> {{ item.name }} </strong>
          <span class="item-left"> {{ item.total }} </span>
          <span class="item-notes">
            {{ item.notes }}
          </span>
        </p>
      </mat-grid-tile>
    }
  </mat-grid-list>
}

@if ((items | async)?.length === 0) {
  <div id="no-item">
    <h3>品目が登録されていません</h3>
    <p><mat-icon inline>add</mat-icon>ボタンから品目を追加してください。</p>
  </div>
}
