@if (items | async; as itemList) {
  @if (itemList.length) {
    <mat-grid-list [cols]="columns" rowHeight="9em">
      @for (item of itemList; track item) {
        <mat-grid-tile
          [ngClass]="{ low: item.total < item.notifyCount }"
          (click)="selectItem(item)"
          (keydown.enter)="selectItem(item)"
          (keydown.space)="selectItem(item); $event.preventDefault()"
          tabindex="0"
          role="button"
          >
          <p>
            <strong class="item-name"> {{ item.name }} </strong>
            <span class="item-left"> {{ item.total }} </span>
            <span class="item-notes">
              {{ item.notes }}
            </span>
          </p>
        </mat-grid-tile>
      }
    </mat-grid-list>
  } @else {
    <div id="no-item">
      <h3>品目が登録されていません</h3>
      <p><mat-icon inline>add</mat-icon>ボタンから品目を追加してください。</p>
    </div>
  }
}
