@if (storages | async; as storageList) {
  @if (storageList.length) {
    <mat-list>
      @for (storage of storageList; track storage) {
        <mat-list-item>
          <span matListItemTitle>{{ storage.name }}</span>
          <span matListItemLine>{{ storage.description }}</span>
          <span matListItemMeta>
            <button
              matIconButton
              color="primary"
              matTooltip="編集"
              (click)="editStorage(storage)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              matIconButton
              color="warn"
              matTooltip="削除"
              (click)="deleteStorage(storage)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </mat-list-item>
      }
    </mat-list>
  } @else {
    <div id="no-storage">
      <h3>倉庫は登録されていません</h3>
      <p>
        <mat-icon inline>add</mat-icon>
        ボタンから倉庫を追加してください。
      </p>
    </div>
  }
}

<button matFab matTooltip="倉庫を追加" (click)="editStorage()">
  <mat-icon>add</mat-icon>
</button>
