<mat-card>
  <mat-card-header>
    <mat-card-title> {{ customer()?.name }}さま </mat-card-title>
    <mat-card-subtitle> オンライン注文書 </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    @for (item of items(); track item; let i = $index) {
      <div class="item-line">
        @if (item.id) {
          <span>
            {{ item.name }}
          </span>
        }
        @if (!item.id) {
          <mat-form-field>
            <mat-label> 品名 </mat-label>
            <input
              type="text"
              matInput
              name="name-{{ i }}"
              [(ngModel)]="item.name"
              [disabled]="sending()"
            />
          </mat-form-field>
        }
        <span></span>
        <mat-form-field>
          <mat-label> 数量 </mat-label>
          <input
            type="number"
            name="num-{{ item.id || i }}"
            min="0"
            value="0"
            matInput
            [(ngModel)]="item.orderedCount"
            matTooltip="0にすると発注しません"
            [disabled]="sending()"
          />
        </mat-form-field>
      </div>
    }

    <button matButton="tonal" (click)="addItem()" [disabled]="sending()">
      <mat-icon>add</mat-icon>
      その他の品目を追加
    </button>

    <mat-form-field class="notes">
      <mat-label>備考</mat-label>
      <textarea
        name="notes"
        [(ngModel)]="order.notes"
        matInput
        [disabled]="sending()"
      ></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button
      matButton="filled"
      color="primary"
      (click)="sendOrder()"
      [disabled]="sending()"
    >
      <mat-icon>send</mat-icon>
      送信
    </button>
  </mat-card-actions>
</mat-card>
