<mat-toolbar color="primary">
  <mat-icon>coffee</mat-icon>
  <span> 深川珈琲 在庫管理 </span>
  <button mat-icon-button title="ログアウト" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="!!user" position="end">
    <mat-nav-list>
      <a mat-list-item routerLink="/item"> 品目 </a>
      <a mat-list-item routerLink="/customer"> 取引先 </a>
      <a mat-list-item routerLink="/order"> 注文 </a>
      <a mat-list-item routerLink="/member"> メンバー </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
