<mat-card>
  <mat-card-title>
    {{ item().name }}
  </mat-card-title>

  <mat-card-content>
    {{ item().notes }}
  </mat-card-content>

  <mat-card-actions>
    <button matButton="tonal" color="primary" (click)="editItem()">
      <mat-icon>edit</mat-icon>
      編集
    </button>
    <button matButton="filled" color="warn" (click)="deleteItem()">
      <mat-icon>delete</mat-icon>
      削除
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-subtitle> 在庫（合計 {{ item().total }}） </mat-card-subtitle>
  <form mat-card-content [formGroup]="storedCount">
    <ul>
      @for (storage of storages(); track storage) {
        <li>
          <mat-form-field>
            <mat-label>{{ storage.name }}</mat-label>
            <input
              type="number"
              required
              matInput
              min="0"
              [formControlName]="storage.id"
              (input)="countTotal()"
            />
          </mat-form-field>
          <button matMiniFab (click)="manipulate(storage.id, -1)">
            <mat-icon>remove</mat-icon>
          </button>
          <button matMiniFab (click)="manipulate(storage.id, 1)">
            <mat-icon>add</mat-icon>
          </button>
        </li>
      }
    </ul>
  </form>
</mat-card>

<p>
  <a matButton="filled" color="primary" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
    保存して戻る
  </a>
</p>
