@use "@angular/material" as mat;

$theme: mat.define-theme();

html {
  @include mat.color-variants-backwards-compatibility($theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  vertical-align: text-bottom;
}

button[matFab] {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

@media print {
  mat-toolbar,
  mat-sidenav {
    display: none !important;
  }

  mat-sidenav-content {
    margin-left: 0 !important;
  }
}
